@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(32, 32, 32);
        color: rgb(230, 230, 230);
    }

    button.std {
        background-color: rgb(56 56 56);
        color: rgb(230 230 230)
    }

    button.std:hover {
        background-color: rgb(14, 133, 20);
    }

    button.back:hover {
        color: rgb(179, 179, 179);
    }

    select#charSel {
        background-color: rgb(56, 56, 56);
        color: rgb(230, 230, 230);
    }
}

@media (prefers-color-scheme: light){
    body {
        background-color: rgb(236, 236, 236);
        color: black;
    }

    button.std {
        background-color: rgb(255, 255, 255);
    }

    button.std:hover {
        background-color: rgb(213, 255, 157);
    }

    button.back:hover {
        color: rgb(97, 97, 97);
    }

    select#charSel {
        background-color: white;
    }
}

@media screen and (max-width: 1080px) {
    div.main {
        font-size: 16px;
        margin: 10px;
    }

    button.std {
        font-size: 16px;
    }
}

* {
    font-family: monospace;
    font-size: 18px;
}

div.main {
    display: flex;
    align-items: center;
    height: 600px;
    justify-content: center;
}

::selection{
    background-color: rgba(43, 255, 0, 0.336);
}

button.std {
    appearance: none;
    text-decoration: none;
    border: 0;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    border-radius: 12px;
    font-size: 18px;
    font-family: 'Lucida Console', monospace;
    transition: 0.3s;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.5);
}

button.std:hover {
    cursor: pointer;
}

div.slidable {
    text-align: center;
    display: none;
}

select#charSel {
    appearance: none;
    outline: none;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.5);
}

button.back-primlists, button:back-def {
    appearance: none;
    text-decoration: none;
    color: gray;
    background: none;
    border: none;
    transition: 0.3s;
}

button.back-primlists, button.back-def:hover {
    cursor: pointer;
}
